.search{
    width:900px;
    height:56px;
    font-size:18px;
    margin-right: 20px;
}
.searchInputMain{
    width:100%;
    height:100%;
    padding:6px 12px;
    font-size: 18px;
    border:1px solid #CCC;
    border-radius: 4px;
    text-decoration: none;
}
.searchInputMain:focus{
    text-decoration: none;
}
.searchButton{
    width:68px;
    height:34px;
    padding: 6px 12px;
    border: 1px solid #CDCDCD;
    color: #FFF;
    margin-right: 10px;
    background: rgb(255,150,52);
}

.searchGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchSetting{
    padding: 0 20px;
}
.searchSetting:hover{
    text-decoration: none;
    cursor: pointer;
}
.searchSetting:focus{
    text-decoration: none;
}

.searchInput{
    width:150px;
    height:40px;
    padding:3px 6px;
    font-size: 18px;
    border:1px solid #CCC;
    border-radius: 4px;
    margin: 0px 10px;
}
.searchPanel{
    border: none; 
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 15px 0px;
}