.deleteButtoner{
    background: rgb(245,105,85);
}

.normalButtoner{
    background: rgb(88,156,218);
}

.functionButtoner{
    width:88px;
    height:34px;
    padding: 6px 12px;
    border: 1px solid #CDCDCD;
    color: #FFF;
    margin-right: 10px;
}

.searchButtoner{
    background: rgb(255,150,52);
}