.deleteButton{
    background: rgb(245,105,85);
}

.normalButton{
    background: rgb(88,156,218);
}

.functionButton{
    width:88px;
    height:34px;
    padding: 6px 12px;
    border: 1px solid #CDCDCD;
    color: #FFF;
    margin-right: 10px;
}

.searchButton{
    background: rgb(255,150,52);
}

.helpBlock {
    color: #a94442;
    display: flex;
    align-items: baseline;
  
    & > span {
      margin-right: 4px;
      top: 2px;
    }
}